#__next {
  @apply min-h-full;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.form-container {
  /* background: yellowgreen; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.container {
  /* background: yellowgreen; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  flex-grow: 1;
}

/* posts */

.post-item {
  padding: 10px;
}

.comment-form {
  padding: 10px;
}

.comment-all {
  padding: 10px;
}

/* post */

.post-details {
  padding: 10px;
}

.edit-post {
  padding-bottom: 20px;
}

/* forms */

.form-group .input-box {
  margin: 20px 0 20px 0;
}

.form-group .checkbox {
  margin: 20px 0 20px 0;
}

.input-box .form-input {
  width: 700px;
  border-width: 1px !important;
}

.btn-danger {
  margin-left: 10px;
}

/* comments */

.comment {
  padding-bottom: 10px;
}

.comment .btn {
  font-size: 15px;
}